<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.1.xsd">
  
  
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/samdb"></property>
		<property name="username" value="root"></property>
		<property name="password" value="admin"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>
	
	
	<!-- 添加sessionFactory bane ，注意，该类是Spring提供的 -->	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		
		<!-- load hibernate configuration file -->
        <property name="configLocation" value="classpath:hibernate.cfg.xml" />
        <!-- where to find the ORM classes -->
        <!--  <property name="packagesToScan" value="entity" />-->
		
		<!-- created by myeclipse -->
		  <property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQL5Dialect
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>entity.TClients</value>
				<value>entity.TCliStoppoints</value>
				<value>entity.Tallproperties</value>
				<value>entity.TVehicles</value>
				<value>entity.Vclients</value>
			</list>
		</property>
		</bean>
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />


     <bean id="myIndexAction" class="action.IndexAction" scope="prototype">
         <!-- setIs(myIndexService) -->
         <property name="is" ref="myIndexService"/>
     </bean>
     
     <bean id="myIndexMenuAction" class="action.IndexMenuAction" scope="prototype">
         <!-- setIs(myIndexService) -->
         <!--  <property name="is1" ref="myIndexService"/>-->
     </bean>
     
     <bean id="myClientListAction" class="action.ClientListAction" scope="prototype">
<!--          setIs(myIndexService) -->
         <property name="cls" ref="myClientListService"/>
         <property name="aps" ref="myPropertieService"/>
     </bean>
     
     <bean id="myVehicleListAction" class="action.VehicleListAction" scope="prototype">
         <property name="vls" ref="myVehicleListService"/>
         <property name="aps" ref="myPropertieService"/>
     </bean>
     
<!--      myIndexService = new service.IndexServiceImpl() -->
     <bean id="myIndexService" class="service.IndexServiceImpl" scope="prototype">
         <property name="id" ref="myIndexDao"/>
     </bean>
     

     
     
     <bean id="myClientListService" class="service.ClinetListServiceImpl" scope="prototype">
         <property name="vcdao" ref="myClientListDao"/>
     </bean>
     
     <bean id="myVehicleListService" class="service.VehicleListServiceImpl" scope="prototype">
         <property name="vehdao" ref="myVehicleListDao"/>
     </bean>
     
     
     <bean id="myPropertieService" class="service.AllPropertieServiceImpl" scope="prototype">
         <property name="pdao" ref="myPropertiesDAO"/>
     </bean>
     
     <bean id="myIndexDao" class="dao.BookcardDAO" scope="prototype">
         <!-- 把sessionFactory 注入给IndexDao -->
         <property name="sessionFactory" ref="sessionFactory" />
     </bean>
     
      <bean id="myClientListDao" class="dao.VclientsDAO" scope="prototype">
        <!-- 把sessionFactory 注入给IndexDao -->
         <property name="sessionFactory" ref="sessionFactory" />
     </bean>
     
     <bean id="myVehicleListDao" class="dao.TVehiclesDAO" scope="prototype">
        <!-- 把sessionFactory 注入 -->
         <property name="sessionFactory" ref="sessionFactory" />
     </bean>
     
           <bean id="myPropertiesDAO" class="dao.TallpropertiesDAO" scope="prototype">
        <!-- 把sessionFactory 注入给IndexDao -->
         <property name="sessionFactory" ref="sessionFactory" />
     </bean>
      

<bean id="springContextsUtil" class="util.SpringContextsUtil" lazy-init="false"></bean>

     <bean id="TCliStoppointsDAO"
     	class="dao.TCliStoppointsDAO">
     	<property name="sessionFactory">
     		<ref bean="sessionFactory" />
     	</property>
     </bean>
     <bean id="TallpropertiesDAO"
     	class="dao.TallpropertiesDAO">
     	<property name="sessionFactory">
     		<ref bean="sessionFactory" />
     	</property>
     </bean>
     <bean id="VclientsDAO" class="dao.VclientsDAO">
     	<property name="sessionFactory">
     		<ref bean="sessionFactory" />
     	</property>
     </bean></beans>
  
